/* Hide "Send Link to Device" and preceding separator */
#contentAreaContextMenu #context-sendlinktodevice, 
#contentAreaContextMenu #context-sep-sendlinktodevice {
  display: none !important;
}

/* Hide "Send Page to Device" and preceding separator */
#contentAreaContextMenu #context-sendpagetodevice, 
#contentAreaContextMenu #context-sep-sendpagetodevice {
  display: none !important;
}

/* Hide "Send Tab to Device" and preceding separator*/
#context_sendTabToDevice, #context_sendTabToDevice_separator {
  display: none !important;
}

/* Hige "Send, Copy, Set Image as background */
#context-sendimage, #context-setDesktopBackground
#context-copyimage {
  display: none !important;
}
/* Hide "Bookmark this Link" */
#contentAreaContextMenu #context-bookmarklink {
  display: none !important;
}
